/* Landing Page */
#landing {
    min-height: 100vh;
}
.landing-image {
    padding-block: 2rem;
}
.landing-image > img{
    width: min(25rem, 60%);
    border-radius: 50%;
    aspect-ratio: 1;
    display: block;
    margin: auto;
}
.landing-content > h1 {
    font-size: 3rem;
}
.landing-content > h2 {
    font-size: 2rem;
}
.landing-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.landing-content > p {
    margin-top: 1rem;
    width: min(35rem, 90%);
}

/* Members Section */

#members {
    min-height: 100vh;
}

/* Other Events Section */
#other-events {
    min-height: 100vh;
    margin-bottom: 5rem;
}

.event-list {
    min-height: 80vh;
    --columns: 2;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(var(--columns), 1fr);
    justify-content: center;
    align-items: center;
}
.event-list > .other-events > img {
    width: min(30rem, 45%);
    display: block;
    aspect-ratio: 1;
    margin: auto;
}
.event-list > .other-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}
.event-list > .other-events > h2 {
    margin-block: 1.5rem;
}
.event-list > .other-events > p {
    width: min(28rem, 90%);
}

@media only screen and (max-width: 50em) {
    .landing-image {
        padding-top: 1rem;
    }
    .event-list {
        --columns: 1;
    }
    .event-list > .other-events > p {
        text-align: center;
    }

}