/* Landing Page */
#landing {
    min-height: 100vh;
}
.landing-image {
    padding-block: 2rem;
}
.landing-image > img{
    width: min(25rem, 60%);
    aspect-ratio: 1;
    display: block;
    margin: auto;
}
.landing-content > h1 {
    font-size: 3rem;
}
.landing-content > h2 {
    font-size: 2rem;
}
.landing-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.landing-content > p {
    margin-top: 1rem;
    width: min(35rem, 90%);
}

/* Members Section */

#members {
    min-height: 100vh;
}

/* Other Events Section */
#other-events {
    min-height: 100vh;
}

.event-list {
    min-height: 80vh;
    --columns: 2;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(var(--columns), 1fr);
    justify-content: center;
    align-items: center;
}
.event-list > .other-events > div > img {
    width: min(30rem, 45%);
    display: block;
    aspect-ratio: 3 / 2;
    margin: auto;
    border-radius: 2rem;
}
.event-list > .other-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}
.event-list > .other-events > h2 {
    margin-block: 1.5rem;
}
.event-list > .other-events > p {
    width: min(28rem, 90%);
}
.arpan {
    position: relative;
}
.arpan::after {
    content: "Coming Soon...";
    width: 50%;
    color: #f8bc04;
    font-size: min(2rem, 5vw);
    text-align: center;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.9;
    border-radius: 2rem;
}

.scroll-down {
    display: none;
}

@keyframes bounce {
    50% {
        transform: translateY(1rem) translateX(-50%);
    }
}

@media only screen and (max-width: 50em) {
    #other-events {
        margin-bottom: 5rem;
    }
    .landing-image {
        padding-top: 1rem;
    }
    .event-list {
        --columns: 1;
    }
    .event-list > .other-events > p {
        text-align: center;
    }
    .arpan::after {
        padding-inline: 3rem;
    }
    
}
@media only screen and (max-width: 35rem) {
    .scroll-down {
        display: block;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--clr-primary);
        padding: 1rem;
        border-radius: 50%;
        animation: bounce infinite 2s ease-in-out;
    }

}