
#association {
    min-height: 100vh;
}

.clouds-association .section {
    display: grid;
    margin-inline: auto;
    padding-inline: 1rem;
    gap: 3rem;
}

.divide-3 {
    grid-template-columns: repeat(3, 1fr);
}
.divide-4 {
    grid-template-columns: repeat(4, 1fr);
}
.compress {
    padding-inline: 5rem !important;
}

.clouds-association .section > .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding-block: 1rem;
    /* padding-inline: 3rem; */
    /* border: 2px solid red; */
}
.profile > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
}
.clouds-association .profile > img {
    width: 16rem;
    height: 20rem;
    object-fit: cover;
}

@media only screen and (max-width: 50em) {
    .clouds-association .section {
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .clouds-association .section::-webkit-scrollbar {
        display: none;
    }
    .compress {
        padding-inline: 1rem !important;
    }
}