#association {
    /* min-height: 100vh; */
}

.clouds-association .section {
    display: grid;
    margin-inline: auto;
    padding-inline: 1rem;
    gap: 3rem;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.clouds-association .section::-webkit-scrollbar {
    display: none;
}
.divide-2 {
    grid-template-columns: repeat(4, 1fr);
}
.divide-2 > div:first-child {
    grid-column: 2 / 3;
}
.divide-3 {
    grid-template-columns: repeat(3, 1fr);
}
.divide-4 {
    grid-template-columns: repeat(4, 1fr);
}
.divide-4 > .profile > div {
    padding-inline: 0.25rem;
}

.compress {
    padding-inline: 5rem !important;
}

.clouds-association .section > .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    min-width: 5rem;
    margin-inline: auto;
    padding-bottom: 0.5rem;
    border: 1px solid lightskyblue;
    background-color: #131313;
    /* text-transform: uppercase; */
}

.profile > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
}
.clouds-association .profile > img {
    width: 16rem;
    aspect-ratio: 1;
    /* height: 20rem; */
    object-fit: cover;
}

.sub-title {
    font-size: clamp(1.25rem, 5vw, 2rem);
    margin-block: 1rem 2rem;
    text-align: center;
}

@media only screen and (max-width: 60em) {
    .clouds-association .section > .profile  {
        border: none;
    }
    .clouds-association .section {
        /* overflow: hidden; */
        gap: 1rem;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .clouds-association .profile > img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
    .profile > div {
        font-size: 0.75rem;
        text-align: center;
    }

    .compress {
        padding-inline: 1rem !important;
    }
}