#loader {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #131313;
    z-index: 10;
    inset: 0;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader-content > p {
    font-size: 5rem;
}

.activate-btn {
  all: unset;
  padding: 1em 4em;
  border: 1px solid var(--clr-primary);
  cursor: pointer;
  transition: border-radius 200ms ease-in-out;
}
.activate-btn:hover {
  border-radius: 1em;
}

/* Main Loader */
.loader {
    width: 75%;
    height: 8px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .loader::before {
    content: '';  
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    z-index: 10;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 0%;
    height: 100%;
    background-color: #FFF;
    position: absolute;
    border-radius: 0 4px 4px 0;
    top: 0;
    left: 0;
    animation: progress 5s ease-in 1;
  }
  
  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @media only screen and (max-width: 50em) {
    .activate-btn {
      padding: 1em 2em;
    }
    .loader-content > h1 {
      font-size: 1.5rem;
    }
  }