:root {
    --clr-primary: #FFF;
}


body {
    color: var(--clr-primary);
    font-family: monospace;
}

.title {
    text-align: center;
    padding: 2rem;
    font-size: clamp(1.75rem, 5vw, 2.5rem);
}