:root {
  --clr-primary: #fff;
}

body {
  color: var(--clr-primary);
  font-family: monospace;
  scroll-behavior: smooth;
}

.title {
  text-align: center;
  padding: 2rem;
  font-size: clamp(1.75rem, 5vw, 2.5rem);
}

/* Customizing scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1792d5;
}

@font-face {
  font-family: "Seven-Segment";
  src: url("Fonts/Seven\ Segment.ttf");
}
